<%- contentFor('body') %><%- include("../partials/header.ejs") %>

<div class="container">
  <form action="/notes/<%= note._id %>?_method=PUT" method="POST">
    <div class="jot-label">
      <label for="title" class="form-label">Title</label>
    </div>
    <input
      type="text"
      class="jot"
      id="title"
      name="title"
      required
      value="<%= note.title %>"
    /><br />
    <div class="jot-label">
      <label for="body" class="form-label">Update your note</label>
    </div>
    <textarea name="body" id="body" class="jot" rows="10" required>
<%= note.body %></textarea
    ><br />
    <div class="color-picker">
      <label>
        <input type="radio" name="color" value="black" <%= note.color ===
        "black" ? 'checked' : '' %> />
        <span class="color-circle black"></span>
      </label>
      <label>
        <input type="radio" name="color" value="red" <%= note.color === "red" ?
        'checked' : '' %>/>
        <span class="color-circle red"></span>
      </label>
      <label>
        <input type="radio" name="color" value="blue" <%= note.color === "blue"
        ? 'checked' : '' %>/>
        <span class="color-circle blue"></span>
      </label>
      <label>
        <input type="radio" name="color" value="green" <%= note.color ===
        "green" ? 'checked' : '' %>/>
        <span class="color-circle green"></span>
      </label>
      <label>
        <input type="radio" name="color" value="yellow" <%= note.color ===
        "yellow" ? 'checked' : '' %>/>
        <span class="color-circle yellow"></span>
      </label>
      <label>
        <input type="radio" name="color" value="purple" <%= note.color ===
        "purple" ? 'checked' : '' %>/>
        <span class="color-circle purple"></span>
      </label>
    </div>
    <div class="controls">
      <button type="submit" class="button-black">Update Jot</button
      ><a href="/notes" class="link-as-button">Cancel</a>
    </div>
  </form>
</div>
