<%- contentFor("body") %><%- include("../partials/header.ejs") %>

<div class="container">
  <p>Logged in as <span class="username"><%= username %></span></p>
  <p class="ui-response">
    <%= typeof response !== 'undefined' ? response : "" %>
  </p>

  <% if (notes.length === 0) { %>
  <!-- Placeholder note for new users, or if user deletes all notes -->
  <div class="notes-display">
    <div class="note-container jot-panel-black">
      <div class="note-header black"></div>
      <div class="note-content-container-sample">
        <h3>Get started!</h3>
        <p>
          You don't have any notes yet, click 'New Jot' to keep track of
          everything.
        </p>
      </div>
    </div>
  </div>

  <% } else { %>
  <div class="notes-display">
    <% notes.forEach(note => { %>
    <div class="note-container jot-panel-<%= note.color %>">
      <div class="note-header <%= note.color %>"></div>
      <div class="note-content-container">
        <div>
          <h3><%= note.title %></h3>
          <p class="note-content"><%= note.body %></p>
        </div>
        <div class="note-controls-container">
          <div class="jot-date">
            <div><%= note.date.toDateString() %></div>
          </div>
          <div class="note-controls">
            <form action="/notes/<%= note._id %>/edit/">
              <button type="submit" class="button-white">Edit</button>
            </form>
            <form action="/notes/<%= note._id %>?_method=DELETE" method="POST">
              <button type="submit" class="button-delete">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% }) %> <% } %>
  </div>
</div>
